@using Certify.Library.ViewModels;
@model List<ForMySignaturesIndex>

@{
    ViewData["Title"] = "My Signatures";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>List of your signature is here...</p>
</div>

@{
    if (Model.Count == 0)
    {
        <div class="text-center mt-5 pt-5">
            <i class="bi bi-brightness-alt-high display-1"></i>
            <h5>It looks like the list of documents you have signed is empty for now...</h5>
        </div>
    }
}

<div class="container row text-center g-3">
    @{
        for (int i = Model.Count - 1; i >= 0; i--)
        {
            var d = Model[i];
            <div class="col-2">
                <div class="card-body card bg-light h-100">
                    <a class="nav-link text-black text-opacity-75" asp-controller="MyDocuments" asp-action="Info" asp-route-id="@d.Id">
                        @{
                            string generatedIconName = $"bi-filetype-{d.FileURL.Substring(d.FileURL.LastIndexOf('.') + 1)}";
                            string standartIconName = "bi-file-earmark";
                            if (d.IsSigned == true)
                            {
                                <i class="bi @standartIconName @generatedIconName display-1 text-success"></i>
                                <p class="mb-0 mt-1 text-truncate">@d.Title</p>
                                <hr class="mb-1 mt-1" />
                                <p class=" mb-0 text-muted "><i class="bi bi-check-circle text-success"> </i><small> @d.SignedDate.ToString("dd/MM/yyyy")</small></p>
                            }
                            else
                            {
                                <i class="bi @standartIconName @generatedIconName display-1 text-danger"></i>
                                <p class="mb-0 mt-1 text-truncate">@d.Title</p>
                                <hr class="mb-1 mt-1" />
                                <p class="mb-0 text-muted "><i class="bi bi-x-circle text-danger"> </i><small> @d.SignedDate.ToString("dd/MM/yyyy")</small></p> 
                            }
                        }
                    </a>
                </div>
            </div>
        }
    }
</div>

