@using System.Security.Policy;
@using Certify.Data;
@using Certify.Models;
@using Certify.ViewModels;
@using Microsoft.AspNetCore.Identity;
@using System.IO;
@inject UserManager<User> _userManager
@model List<MySignatureViewModel>

@{
    ViewData["Title"] = "My Signature";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>List of your signature is here...</p>
</div>

<div class="container row text-center g-3">

   @{
        var currentUser = await _userManager.GetUserAsync(Context.User);

        for (int i = Model.Count - 1; i >= 0; i--)
        {
            var models = Model[i];
                            <div class="col-md-2">
                                
                                    <div class="card-body card bg-light h-100">
                                        <a class="nav-link text-black text-opacity-75" asp-controller="MyDocuments" asp-action="Info" asp-route-id="@models.Id">
                                        @{
                                            if(models.IsSigned == false)
                                            {
                                                    string generatedIconName = $"bi-filetype-{models.FileURL.Substring(models.FileURL.LastIndexOf('.') + 1)}";
                                                    string standartIconName = "bi-file-earmark";
                                                    <i class="bi @standartIconName @generatedIconName display-1 text-danger"></i>                                            
                                                    <p class="mb-0 mt-1 text-truncate">@models.Title</p>
                                                    <hr class="mb-1 mt-1" />
                                                                    <p class="mb-0 text-muted "><i class="bi bi-x-circle text-danger">  </i><small>  @models.SignedDate.ToString("dd/MM/yyyy")</small></p>
                                            }
                                            else
                                            {
                                                    string generatedIconName = $"bi-filetype-{models.FileURL.Substring(models.FileURL.LastIndexOf('.') + 1)}";
                                                    string standartIconName = "bi-file-earmark";
                                                    <i class="bi @standartIconName @generatedIconName display-1 text-success"></i>                                            
                                                    <p class="mb-0 mt-1 text-truncate">@models.Title</p>
                                                    <hr class="mb-1 mt-1" />
                                                    <p class=" mb-0 text-muted "><i class="bi bi-check-circle text-success">  </i><small> @models.SignedDate.ToString("dd/MM/yyyy")</small></p>
                                            }
                                       
                                        }

                                        </a>
                                    </div>
                            </div>
            
        }
    }
</div>

