@using Certify.Library.ViewModels;
@model List<MyDocumentsIndexVM>

@{
    ViewData["Title"] = "My Documents";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>List of your documents is here...</p>
</div>

<div class="container row text-center g-3">

    <div class="col-md-2">
        <div class="card h-100">
            <div class="card-body">
                <a class="nav-link text-primary" asp-controller="MyDocuments" asp-action="Create">
                    <i class="bi bi-file-earmark-plus display-1"></i>
                    <p>Add File</p>
                </a>
            </div>
        </div>
    </div>

    @{
        for (int i = Model.Count - 1; i >= 0; i--)
        {
            var d = Model[i];
            <div class="col-md-2">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <a class="nav-link text-black text-opacity-75" asp-controller="MyDocuments" asp-action="Info" asp-route-id="@d.Id">
                            @{
                                string generatedIconName = $"bi-filetype-{d.FileURL.Substring(d.FileURL.LastIndexOf('.') + 1)}";
                                string standartIconName = "bi-file-earmark";
                                if (d.IsSigned == true)
                                {
                                    <i class="bi @standartIconName @generatedIconName display-1 text-success"></i>
                                    <p class="mb-0 mt-1 text-truncate">@d.Title</p>
                                    <hr class="mb-1 mt-1" />
                                    <p class="mb-0 text-muted"><i class="bi bi-pen text-success"></i> @d.CurrentSignaturesCount / @d.MaxSignaturesCount </p>
                                }
                                else if (d.IsSigned == false)
                                {
                                    <i class="bi @standartIconName @generatedIconName display-1 text-danger"></i>
                                    <p class="mb-0 mt-1 text-truncate">@d.Title</p>
                                    <hr class="mb-1 mt-1" />
                                    <p class="mb-0 text-muted"><i class="bi bi-pen text-danger"></i> @d.CurrentSignaturesCount / @d.MaxSignaturesCount </p>

                                }
                                else
                                {
                                    <i class="bi @standartIconName @generatedIconName display-1 text-warning"></i>
                                    <p class="mb-0 mt-1 text-truncate">@d.Title</p>
                                    <hr class="mb-1 mt-1" />
                                    <p class="mb-0 text-muted"><i class="bi bi-pen text-warning"></i> @d.CurrentSignaturesCount / @d.MaxSignaturesCount </p>
                                }
                            }
                            

                           
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</div>
