@model Certify.ViewModels.ForMyDocumentsInfo;
@using Microsoft.AspNetCore.Http.Extensions;

@{
    ViewData["Title"] = Model.Title;
    string returnUrl = ViewBag.ReturnUrl;
    string currentUrl = ViewBag.CurrentUrl;
}

<div class="pb-3">
    @{
        if (returnUrl != "" && returnUrl != currentUrl && returnUrl != null)
        {
            <a href="@returnUrl" class="btn btn-outline-secondary ">
                <i class="bi bi-caret-left"></i>
                Back
            </a>
        }
    }
</div>

<div class="container col-10">
    <div class="card bg-light">
        <div class="card-body">

            <div class="row align-items-center flex-nowrap">

                <div class="col-2 col display-1 d-flex justify-content-end">
                    @{
                        if (ViewBag.SignedFalse.Count > 0)
                        {
                            <i class="bi bi-file-earmark-x text-danger"></i>
                        }
                        else if (ViewBag.SignedNull.Count != 0)
                        {
                            <i class="bi bi-file-earmark-minus text-warning"></i>
                        }
                        else
                        {
                            <i class="bi bi-file-earmark-check text-success"></i>
                        }
                    }
                </div>

                <div class="col-8 display-6 text-break">
                    <p class="mb-1 mt-1">
                        @Model.Title
                    </p>
                </div>

            </div>

            <div class="container col-11">

                <hr />
                <p class="mt-3 mb-1">
                    <i class="bi bi-chevron-double-left"></i>@Model.ShortDescription<i class="bi bi-chevron-double-right"></i>
                </p>
                <p class="text-black text-opacity-50 text-center">
 
                        By @Model.UserName, @Model.UploadedDate.ToString("dd.MM.yyyy")
                   
                </p>
                <div class="row justify-content-center flex-nowrap mt-4">
                    <a href="@Url.Content(Model.FileURL)" download class="btn btn-primary btn-block col-12"><i class="bi bi-download"></i> Download</a>
                </div>

                <div class=" mt-5">
                    @{
                        if (ViewBag.IsUserSignatuer == true)
                        {
                            <form asp-action="ChangeStatus" asp-controller="MyDocuments" method="post">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <div class="row justify-content-center flex-nowrap">
                                    <button type="submit" name="status" value="true" class="btn btn-success col-3 mx-4"><small><i class="bi bi-check-square"></i> <i class="bi bi-pen"></i></small>  Sign</button>
                                    <button type="submit" name="status" value="false" class="btn btn-danger col-3 mx-4"><small><i class="bi bi-x-square"></i> <i class="bi bi-pen"></i></small>  Don't sign</button>
                                </div>
                            </form>
                        }
                        if (ViewBag.IsUserOwner == true)
                        {
                            <div class="row justify-content-center flex-nowrap  ">

                                <a asp-action="Delete" asp-controller="MyDocuments" asp-route-id="@Model.Id" class="col-4 mx-3">
                                    <button class="btn btn-danger w-100"><small><i class="bi bi-trash3"></i></small> Видалити</button>
                                </a>


                                <a asp-action="Edit" asp-controller="MyDocuments" asp-route-id="@Model.Id" class="col-4 mx-3">
                                    <button class="btn btn-warning w-100"><small><i class="bi bi-pencil-square"></i></small> Edit</button>
                                </a>

                            </div>
                        }
                    }
                </div>

                <div class="card bg-white mt-4">
                    <div class="card-body">
                        <div class="row flex-nowrap d-flex justify-content-center">
                            @{
                                if (ViewBag.SignedTrue.Count > 0)
                                {
                                    <div class="col-auto text-center">
                                        <p class="mb-1">Signed by:</p>
                                        @foreach (var i in ViewBag.SignedTrue)
                                        {
                                            <span class="badge bg-success bg-opacity-75 text-white text-truncate">@i.ToString()</span>
                                            <br>
                                        }
                                    </div>
                                }
                                if (ViewBag.SignedFalse.Count > 0)
                                {
                                    <div class="col-auto  text-center">
                                        <p class="mb-1">Not signed by:</p>
                                        @foreach (var i in ViewBag.SignedFalse)
                                        {
                                            <span class="badge bg-danger bg-opacity-75 text-white text-truncate">@i.ToString()</span>
                                            <br>
                                        }
                                    </div>
                                }
                                if (ViewBag.SignedNull.Count > 0)
                                {
                                    <div class="col-auto  text-center">
                                        <p class="mb-1">Under consideration by:</p>
                                        @foreach (var i in ViewBag.SignedNull)
                                        {
                                            <span class="badge bg-warning bg-opacity-75 text-black text-truncate">@i.ToString()</span>
                                            <br>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

