@using System.Security.Policy;
@using Certify.Data;
@using Certify.Models;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> _userManager
@model List<Certify.Models.Signature>
@{
    ViewData["Title"] = "Notifications";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>List of your notification is here...</p>
</div>

<div class="container col-md-7">
    <div class="row g-3">
        @{
            for (int i = Model.Count - 1; i >= 0; i--)
            {
                var signature = Model[i];
                <div class="card bg-info bg-opacity-25">
                    <div class="card-body">
                        <a class="nav-link text-black text-opacity-75" asp-controller="MyDocuments" asp-action="Info" asp-route-id="@signature.Document.Id">
                            <div class="row">

                                <div class="col-md-3 d-flex justify-content-center align-items-center">
                                    <i class="bi bi-box-seam display-1"></i>
                                </div>

                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col">
                                            @{
                                                var user = await _userManager.FindByIdAsync(signature.Document.UserId.ToString());
                                                string userName = user != null ? (user.Firstname + " " + user.Lastname) : "Unknown User";
                                            }
                                            <p class="fw-bold text-center">Incoming document signing request from @userName.</p>
                                            <p class="mt-md-1 text-truncate">Document: "@signature.Document.Title"</p>
                                            <p class="mt-md-1 text-truncate">Description: "@signature.Document.ShortDescription"</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-end text-muted mt-md-1">
                                            @signature.Document.UploadedDate
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>